*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul,li{
    list-style: none;
}

ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

li {
    width: 170px;
    padding: 5px 15px;
    border: 1px solid #ccc;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    cursor: pointer;
}

.tab-pane {
    display: none;
}

.tab-pane.active {
    display: block;
}